body {
    background-color: aqua;
}
div {
    height: 100px;
    width: 100px;
}
.top {
    /*border-radius: 10px; */
    background-color: red;
    border: 5px solid black;
}
.middle {
    /*border-radius: 20px; */
    background-color: beige;
    margin-left: 110px;
    border: 10px solid black;
}
.bottom {
    /*border-radius: 10px; */
    background-color: green;
    margin-left:230px;
    border: 5px solid black;
}
